### Database ###
### For Postgres Docker container ###
# NOT USED BY THE APP ITSELF
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres


### DATABASE ###
# FORMAT: postgresql://{user}:{password}@{host}:{port}/{database}
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@remnawave-db:5432/${POSTGRES_DB}"

### REDIS ###
REDIS_HOST=remnawave-redis
REDIS_PORT=6379

### JWT ###
### CHANGE DEFAULT VALUES ###
JWT_AUTH_SECRET=change_me
JWT_API_TOKENS_SECRET=change_me

### Telegram Oauth (Login with Telegram)
TELEGRAM_BOT_TOKEN=change_me
### true/false
TELEGRAM_OAUTH_ENABLED=true
### Array of Admin Chat Ids. These ids will be allowed to login.
TELEGRAM_OAUTH_ADMIN_IDS=[123456789]

### FRONT_END ###
# Used by CORS, you can leave it as * or place your domain there
FRONT_END_DOMAIN=panel.domain.com

### SUBSCRIPTION PUBLIC DOMAIN ###
### DOMAIN, WITHOUT HTTP/HTTPS, DO NOT ADD / AT THE END ###
### Used in "profile-web-page-url" response header and in UI/API ###
### Review documentation: https://remna.st/docs/install/environment-variables#domains
SUB_PUBLIC_DOMAIN=sub.domain.com
REMNAWAVE_PANEL_URL=http://remnawave:3000

### PROMETHEUS ###
### Metrics are available at /api/metrics
METRICS_USER=admin
METRICS_PASS=admin


### CLOUDFLARE ###
# USED ONLY FOR compose-with-cf.yml
# NOT USED BY THE APP ITSELF
TUNNEL_TOKEN=ey...
